<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:purple;">
    <h1>{{name}}'s First Angular Project</h1>
  </h1>
  <img width="300" alt="Origami in the Garden" src="https://v.fastcdn.co/u/86975b4d/48208600-0-Origami-in-the-Garde.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    {{itemList[0]}}
  </li>
  <li>
    {{itemList[1]}}
  </li>
  <li>
    {{itemList[2]}}
  </li>
  <li>
    {{itemList[3]}}
  </li>
</ul>
<p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm,
  and an area of {{rectangle.area()}} cm^2.</p>